.header {
    padding: 30px;
    text-align: center;
}

.table {
    margin: 20px;
}

.content {
    font: 200;
    margin: 20px;  
}

.documentation-page pre>code {
    background: transparent;
    border: none;
    font-size: 20px;
    padding: 10px 15px;
    overflow: visible;

}

main, footer {
    margin-left: 215px;
}

footer{
width:100%;
height:100px;
position:absolute;
bottom:0px;
right:0px;
}

.lpanel {
    position: absolute;
    top: 4rem;
    left: 2px;
}
