/* 导航条 */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* 导航链接 */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* =Reset
-------------------------------------------------------------- */
 
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
}
 
html,
body,
div{
    margin: 0;
    padding: 0;
white-space: normal;
}

p{
white-space: pre;
}

#header{
/* background:#cccccc; */
}

#main{
/* background:#dddddd; */
}

#footer{
/* background:#d3d3d3; */
text-align:center;
}

#primary{
    max-width: 720px;
    margin: 0 auto;
    padding: 1em;
}

#secondary{
max-width:400px;
margin: 0 auto;
padding: 1em;
}

.wrap{
    max-width: 1140px;
    margin: 0 auto;
    padding: 1em;
}

.wrap:after{
content: "";
display:table;
clear:both;
}



/* remove  the underline the links */
a:link {text-decoration:none}
a:visited {text-decoration:none}
a:hover {text-decoration:underline;}



.istrue:enabled {color:darkgreen}

.lpanel {
    position: static;
    top: 4rem;
    left: 2px;
}

@media screen and (max-width: 600px) {
.header {
    padding: 30px;
    text-align: center;
}
}

.table {
    margin: 20px;
}

.content {
	  display:block;
	  position: relative;
	  justify-content: space-around;
}

.documentation-page pre>code {
    background: transparent;
    border: none;
    font-size: 20px;
    padding: 10px 15px;
    overflow: visible;
}


footer{
width:100%;
height:100px;
position:absolute;
bottom:0px;
right:0px;
}



/* 响应式布局 - 小于 600 px 时改为上下布局 */
@media screen and (min-width: 900px) {
  .column {
    width: 100%;
  }

 #primary{
float:right;
width:65%;
padding-left:1em;
}

#secondary{
float:left;
width:35%;
}
}

figure {
text-align:center ;
	padding: 0;
	margin: 80px;
	}


div.color69375 {
    display: inline-block;
    font-size: 1.5rem;
    padding: 6px;
    margin: 3px;
    color: black;
    text-shadow: white 0 0 8px, white 0 0 8px;
}

h1{
text-align: center;
}

#s11{
     display:flex;
justify-content: space-around;
     }

#ft88{
border:solid blue;
}

#ft27872 {
color:red;
border:solid red
}

#tran82944
{
 position:static;
 border:solid green;
 width: 30%;
 }
#tran82944
{
 transition: width 3s;
 /* when width value changes, do transition, over 2 seconds */
}

#tran82944:hover
{
 width: 100%;
 /* new width value */
 }


/* img 自适应 */
img {
width:100%;
}

.box {
display:flex;
align-items:center;
justify-content:center;
}

#reserve_line{
white-space:pre-wrap;
}  
