
/* 导航条 */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* 导航链接 */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#panel_middle {
	    width:100%;
border:   ;
	       max-width: 665px;
	       margin: 
	       margin-top: 80px;
	       margin-right: auto;
	       margin-bottom: 80px;
	       margin-left: auto;
padding:25px ;
	       }






